html {
  background: url(https://source.unsplash.com/random/1280x720/?nature,water,sea,surf) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
